.route-wrapper {
  position: relative;
  margin: auto;
  max-width: 800px;
}

.route-wrapper > div {
  background-color: whitesmoke;
  position: absolute;
  width: 100%;
}

.route-wrapper > div > div {
  padding: 16px;
}

.switch {
  width: 100%;
  height: calc(100vh - 64px);
  overflow-x: hidden;
}
